@font-face {
  font-family: body;
  src: url("./assets/AlumniSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: title;
  src: url("./assets/LibreBarcode39Text-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
  }

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 2em; 
  position: relative;
}

.bottom-nav-placement {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
}

.nav-btn {
  width: 100%; 
  text-align: center;
  text-decoration: none;
  font-family: body;
  color: black;
  font-size: 16px;
}

.nav-btn:hover {
  border-bottom: 4px solid black;
}

.profile-picture {
  margin: 1em;
  width: 90%; 
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid black; 
}

.about-me-text, 
.project-text {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-decoration: none;
  position: absolute;
  font-family: body;
  font-weight: 400;
  color: black;
}

.about-me-text {
  top: 45%; 
  right: -2%; 
}

.project-text{
  rotate: 180deg;
  top: 45%; 
  left: -2%; 
}

.pos-rel {
  position: relative;
  width: 100%;
}


@media screen and (min-width:1000px) {
    .profile-picture {
      height: 600px;
      width: 80%;
      margin: auto; 
      display: flex;
    }

    .code-img {
      height: 250px; 
    }

    .flex {
      display: flex;
    }

   .header-div {
      margin-top: -4em;
      margin-bottom: 2em; 
   }

   .about-me-text {
    top: 50%; 
    left: 0; 
    rotate: 180deg;
  }
  
  .project-text {
    top: 50%; 
    rotate: 360deg;
    right: 0; 
  }
}

